<h2>Task 1 - Data Extraction & Initial Analysis</h2>

<h2>Task instructions</h2>

Your task is to manually extract key financial data for the last three fiscal years from the 10-K filings of Microsoft, Tesla, and Apple. Following the data collection, you will use Python to analyze this data, focusing on trends and insights that could inform the development of an AI-powered financial chatbot.

<h3>Step 1: Data extraction</h3>

<b>Navigate to the SEC's EDGAR database:</b>

 - <b>Microsoft</b>
 - <b>Tesla</b>
 - <b>Apple</b>
 
<b>Manual extraction:</b>

 - For each company, find the 10-K filings for the last three fiscal years.
 - Extract the following financial figures: Total Revenue, Net Income, Total Assets, Total Liabilities, and Cash Flow from Operating Activities.

<b>Organize Your Data:</b>

 - Compile the extracted data into an Excel spreadsheet for easy reference during your Python analysis.

<h3>Step 2: Preparing your Jupyter Notebook environment</h3>

<b>Install Jupyter</b> (if not already installed):

 - Install Jupyter using pip if you haven't already:

pip install notebook
 
 - Launch Jupyter Notebook:

jupyter notebook
 
 - This command should open Jupyter in your web browser.

<b>Create a new notebook:</b>

 - In the Jupyter interface, create a new notebook for your analysis.

<h3>Step 3: Python analysis in Jupyter</h3>

<b>Import pandas:</b>

 - At the beginning of your notebook, import the pandas library to work with your data.

import pandas as pd

<b>Load your data:</b>

 - Convert your Excel file to a CSV file for easier handling, then load it into a DataFrame.

df = pd.read_csv('path_to_your_csv_file.csv')

<b>Analyzing trends with pandas:</b>

 - Use pandas to calculate year-over-year changes for each financial metric. You can do this by creating new columns in your DataFrame that represent the percentage change from one year to the next.

df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100

df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100
 - Explore other aggregate functions or groupings to analyze the data across different dimensions (by company, over years, etc.).

<b>Summarizing findings:</b>

 - Conclude your analysis by summarizing your findings directly in the notebook. Use markdown cells to add narrative explanations of your analysis, discussing the trends and changes in financial metrics you've identified.

<h3>Step 4: Documentation and submission</h3>

 - <b>Document your analysis:</b> Use the markdown feature in Jupyter Notebook to document your methodology, observations, and conclusions throughout the notebook.
 - <b>Export your notebook:</b> Once your analysis is complete, export your Jupyter Notebook as a PDF or HTML file for submission.
   - You can do this from the "File" menu in Jupyter, selecting "Download as" and then choosing your preferred format.

This approach allows you to focus on the core analytical aspects using pandas within a Jupyter Notebook, providing a clear, documented narrative of your financial analysis process. By the end of this task, you'll have a comprehensive understanding of how to analyze financial data programmatically, a valuable skill set for data-driven decision-making. Upload your Jupyter Notebook when done with analysis.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
# read the 10-k financial data
data = pd.read_excel("Task_1_Data_Extraction_&_Initial_Analysis.xlsx")

In [4]:
data.shape

(9, 9)

In [6]:
data.head(10)

,Company,Year,Total Revenue (in millions),Net Income (in millions),Total Assets (in millions),Total Liabilities (in millions),Operating Expenses(R & D),"Operating Expenses(Sales & Marketing, Other Administrative)",Total Cash Flow from Operating Activities (in millions)
0,Microsoft,2023,211915,72361,411976,205753,27195,30334,57529
1,Microsoft,2022,198270,72738,364840,198298,24512,27725,52237
2,Microsoft,2021,168088,61271,333779,191791,20716,25224,45940
3,Tesla,2023,96773,14974,106618,43009,3969,4800,8769
4,Tesla,2022,81462,12587,82338,36440,3075,3946,7021
5,Tesla,2021,53823,5644,62131,30548,2593,4517,7110
6,Apple,2023,383285,96995,352583,290437,29915,24932,54847
7,Apple,2022,394328,99803,352755,302083,26251,25094,51345
8,Apple,2021,365817,94680,351002,287912,21914,21973,43887