<h3>Task 5 - Predictive Health Care</h3>
Comparing adverse effects of pain medicaments

<h3>Task Overview</h3>

<b>What you'll learn</b>
 - How to analyze adverse drug effects using provided data.

<b>What you'll do</b>
 - Analyze 2019 FAERS data to find the top 10 Tramal adverse effects.
 - Compare Tramal and Lyrica's adverse effects.
 - Suggest further investigations based on dataset findings.

<h3>Here is your task:</h3>

<b>Jakob asks you to create a PowerPoint slide deck while tackling the following steps. Use screenshots and diagrams to illustrate your findings as well.</b>

<b>Step 1</b>

Create a descriptive overview of adverse effects of tramal based on the available FAERS datasets, which youâ€™ll find in your resource section. For your analysis, only use the FAERS data from the year 2019.

Show the 10 most common adverse effects as they are reported in the FAERS database. Jakob loves bar plots, so would be great if you use one.

<b>Step 2</b>

Compare tramal to another medication called lyrica that is also commonly used to treat neurological pain. Are the adverse effects similar?

Use Rscript to solve the task and make sure using it in your presentation.

</b>Step 3</b>

Define what further investigations might be helpful in determining whether a certain drug might be more preferable over another drug. Base your solution on the results of your dataset work.

In [1]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# read the dataset (Quarter 1)
DEMO19Q1 = pd.read_csv("E:\iNeuron\Dataset\Q1\DEMO19Q1.txt", delimiter="$", low_memory=False)
DRUG19Q1 = pd.read_csv("E:\iNeuron\Dataset\Q1\DRUG19Q1.txt", delimiter="$", low_memory=False)
REAC19Q1 = pd.read_csv("E:\iNeuron\Dataset\Q1\REAC19Q1.txt", delimiter="$", low_memory=False)

In [3]:
# select columns necessary for our analysis
DEMO19Q1 = DEMO19Q1[["primaryid", "caseid", "age", "sex"]]
DRUG19Q1 = DRUG19Q1[["primaryid", "caseid", "drugname"]]
REAC19Q1 = REAC19Q1[["primaryid", "caseid", "pt"]]

In [4]:
# create a function to clean the data
def primary_clean(data):
    data = data.drop_duplicates()
    data = data.dropna()
    print(data.shape)
    print(data.isnull().sum())
    print(data.duplicated().sum())
    return data

In [5]:
# clean each dataset
DEMO19Q1 = primary_clean(DEMO19Q1)

(226536, 4)
primaryid    0
caseid       0
age          0
sex          0
dtype: int64
0

In [6]:
# clean each dataset
DRUG19Q1 = primary_clean(DRUG19Q1)

(1381706, 3)
primaryid    0
caseid       0
drugname     0
dtype: int64
0

In [7]:
# clean each dataset
REAC19Q1 = primary_clean(REAC19Q1)

(1303521, 3)
primaryid    0
caseid       0
pt           0
dtype: int64
0

In [8]:
# create a function to merge and clean dataset
def merge_data(data1, data2, data3):
    data = pd.merge(left=data1, right=data2, how="inner", on=["primaryid", "caseid"])
    final = pd.merge(left=data, right=data3, how="inner", on=["primaryid", "caseid"])
    final = final.drop_duplicates()
    final = final.dropna()
    print(final.shape)
    print(final.isnull().sum())
    print(final.duplicated().sum())
    final["drugname"] = final["drugname"].replace(to_replace="GABAPENTIN.", value="GABAPENTIN")
    final = final[(final['drugname']=="GABAPENTIN") | (final['drugname']=="LYRICA") | (final['drugname']=="TRAMAL")]
    final = final.reset_index(drop="index")
    print(final.shape)
    return final

In [9]:
# merge and clean
Quarter1 = merge_data(DEMO19Q1, DRUG19Q1, REAC19Q1)

(4407726, 6)
primaryid    0
caseid       0
age          0
sex          0
drugname     0
pt           0
dtype: int64
0
(50134, 6)

In [10]:
# read the dataset (Quarter 2)
DEMO19Q2 = pd.read_csv("E:\iNeuron\Dataset\Q2\DEMO19Q2.txt", delimiter="$", low_memory=False)
DRUG19Q2 = pd.read_csv("E:\iNeuron\Dataset\Q2\DRUG19Q2.txt", delimiter="$", low_memory=False)
REAC19Q2 = pd.read_csv("E:\iNeuron\Dataset\Q2\REAC19Q2.txt", delimiter="$", low_memory=False)

In [11]:
# select columns necessary for our analysis
DEMO19Q2 = DEMO19Q2[["primaryid", "caseid", "age", "sex"]]
DRUG19Q2 = DRUG19Q2[["primaryid", "caseid", "drugname"]]
REAC19Q2 = REAC19Q2[["primaryid", "caseid", "pt"]]

In [12]:
# clean each dataset
DEMO19Q2 = primary_clean(DEMO19Q2)

(241381, 4)
primaryid    0
caseid       0
age          0
sex          0
dtype: int64
0

In [13]:
# clean each dataset
DRUG19Q2 = primary_clean(DRUG19Q2)

(1551080, 3)
primaryid    0
caseid       0
drugname     0
dtype: int64
0

In [14]:
# clean each dataset
REAC19Q2 = primary_clean(REAC19Q2)

(1408475, 3)
primaryid    0
caseid       0
pt           0
dtype: int64
0

In [15]:
# merge and clean
Quarter2 = merge_data(DEMO19Q2, DRUG19Q2, REAC19Q2)

(4892508, 6)
primaryid    0
caseid       0
age          0
sex          0
drugname     0
pt           0
dtype: int64
0
(59589, 6)

In [16]:
# read the dataset (Quarter 3)
DEMO19Q3 = pd.read_csv("E:\iNeuron\Dataset\Q3\DEMO19Q3.txt", delimiter="$", low_memory=False)
REAC19Q3 = pd.read_csv("E:\iNeuron\Dataset\Q3\REAC19Q3.txt", delimiter="$", low_memory=False)
DRUG19Q3 = pd.read_csv("E:\iNeuron\Dataset\Q3\DRUG19Q3.txt", delimiter="$", low_memory=False, encoding_errors='ignore')

In [17]:
# select columns necessary for our analysis
DEMO19Q3 = DEMO19Q3[["primaryid", "caseid", "age", "sex"]]
DRUG19Q3 = DRUG19Q3[["primaryid", "caseid", "drugname"]]
REAC19Q3 = REAC19Q3[["primaryid", "caseid", "pt"]]

In [18]:
# clean each dataset
DEMO19Q3 = primary_clean(DEMO19Q3)

(253952, 4)
primaryid    0
caseid       0
age          0
sex          0
dtype: int64
0

In [19]:
# clean each dataset
DRUG19Q3 = primary_clean(DRUG19Q3)

(1651755, 3)
primaryid    0
caseid       0
drugname     0
dtype: int64
0

In [20]:
# clean each dataset
REAC19Q3 = primary_clean(REAC19Q3)

(1504784, 3)
primaryid    0
caseid       0
pt           0
dtype: int64
0

In [21]:
# merge and clean
Quarter3 = merge_data(DEMO19Q3, DRUG19Q3, REAC19Q3)

(5540978, 6)
primaryid    0
caseid       0
age          0
sex          0
drugname     0
pt           0
dtype: int64
0
(62882, 6)

In [22]:
# read the dataset (Quarter 4)
DEMO19Q4 = pd.read_csv("E:\iNeuron\Dataset\Q4\DEMO19Q4.txt", delimiter="$", low_memory=False)
REAC19Q4 = pd.read_csv("E:\iNeuron\Dataset\Q4\REAC19Q4.txt", delimiter="$", low_memory=False)
DRUG19Q4 = pd.read_csv("E:\iNeuron\Dataset\Q4\DRUG19Q4.txt", delimiter="$", low_memory=False)

In [23]:
# select columns necessary for our analysis
DEMO19Q4 = DEMO19Q4[["primaryid", "caseid", "age", "sex"]]
DRUG19Q4 = DRUG19Q4[["primaryid", "caseid", "drugname"]]
REAC19Q4 = REAC19Q4[["primaryid", "caseid", "pt"]]

In [24]:
# clean each dataset
DEMO19Q4 = primary_clean(DEMO19Q4)

(245213, 4)
primaryid    0
caseid       0
age          0
sex          0
dtype: int64
0

In [25]:
# clean each dataset
DRUG19Q4 = primary_clean(DRUG19Q4)

(1417965, 3)
primaryid    0
caseid       0
drugname     0
dtype: int64
0

In [26]:
# clean each dataset
REAC19Q4 = primary_clean(REAC19Q4)

(1359912, 3)
primaryid    0
caseid       0
pt           0
dtype: int64
0

In [27]:
# merge and clean
Quarter4 = merge_data(DEMO19Q4, DRUG19Q4, REAC19Q4)

(4879124, 6)
primaryid    0
caseid       0
age          0
sex          0
drugname     0
pt           0
dtype: int64
0
(53822, 6)

In [28]:
# concatenate all Quarter data into one for our analysis
final_data = pd.concat([Quarter1, Quarter2, Quarter3, Quarter4], ignore_index=True)

# check null/missing values
print(final_data.isnull().sum())

# check any duplicate records
print(final_data.duplicated().sum())

# check the dimension of data
final_data.shape

primaryid    0
caseid       0
age          0
sex          0
drugname     0
pt           0
dtype: int64
0

(226427, 6)

In [29]:
# save the dataset as excel and csv files for further use in PowerBI/Tableau
final_data.to_csv("final_data.csv", index=False)
final_data.to_excel("final_data.xlsx", index=False)

In the above steps, we read the datasets from each quarter, selected columns necessary for our analysis, performed data cleaning, selected data specific to the drugs mentioned in the problem statement, then we concatenated all the quarters into one to create a final data which is saved as csv and excel files for further analysis.

<h3>Descriptive Statistics</h3>

In [35]:
faers_data = pd.read_csv("final_data.csv")

In [36]:
# check first few records
faers_data.head()

   primaryid    caseid   age sex drugname                          pt
0  100244892  10024489  57.0   F   LYRICA                   Arthritis
1  100244892  10024489  57.0   F   LYRICA            Balance disorder
2  100244892  10024489  57.0   F   LYRICA              Foot deformity
3  100244892  10024489  57.0   F   LYRICA  Intentional product misuse
4  100244892  10024489  57.0   F   LYRICA             Ligament sprain

In [37]:
# check dimension
faers_data.shape

(226427, 6)

In [38]:
# datatypes
faers_data.dtypes

primaryid      int64
caseid         int64
age          float64
sex           object
drugname      object
pt            object
dtype: object

In [39]:
# descriptive statistics
faers_data.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
primaryid,226427.0,NaN,NaN,NaN,277405646.388584,357569228.170606,63910632.0,154627665.0,161410644.0,167325443.0,1688095311.0
caseid,226427.0,NaN,NaN,NaN,15314969.306576,1753554.412448,6391063.0,14735225.0,15943146.0,16451519.0,17267527.0
age,226427.0,NaN,NaN,NaN,660.450825,3606.365337,0.0,51.0,61.0,70.0,33165.0
sex,226427,6,F,159999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drugname,226427,3,GABAPENTIN,117657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pt,226427,5520,Pain,4438,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# concise info
faers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226427 entries, 0 to 226426
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   primaryid  226427 non-null  int64
 1   caseid     226427 non-null  int64
 2   age        226427 non-null  float64
 3   sex        226427 non-null  object
 4   drugname   226427 non-null  object
 5   pt         226427 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 10.4+ MB