<h2>Task 1: Data gathering and exploratory analysis</h2>

Enhance Customer retention strategies by mastering data analysis and uncovering key insights into customer behaviour

<h3>Task overview:</h3>

Welcome! In this task, you will focus on gathering and analysing data to understand customer behaviour, with the goal of uncovering key insights that will inform the development of a predictive model for customer churn.

<b>What you'll learn:</b>

 - Techniques for identifying and collecting relevant data from various sources
 - Methods for performing exploratory data analysis (EDA) to uncover patterns and insights
 - Best practices for cleaning and preparing data for machine learning models

<b>What you'll do:</b>

 - Identify and gather data from provided sources relevant to predicting customer churn
 - Perform EDA to understand the data and identify key features
 - Clean and preprocess the data to ensure it is ready for model building

<h3>Let's get started:</h3>

As you step into the role of a data science graduate at Lloyds Banking Group, you're immediately thrust into a real-world scenario with significant implications for our business. The Data Science & Analytics team, under the leadership of Li, a seasoned senior data scientist, is currently grappling with a critical project: predicting customer churn to enhance retention strategies.

Li briefs you on the situation, "We've observed a worrying trend of customers, particularly young professionals and small business owners, leaving for competitors. This project aims to reverse that trend by identifying at-risk customers and implementing targeted interventions."

Your task is crucial. You'll begin by gathering and analysing data to understand the factors contributing to customer churn to uncover actionable insights that can inform strategic decisions. The pressure is on, as SmartBank, a key subsidiary, has reported a decline in retention rates, and there's mounting pressure from senior management to deliver solutions swiftly.

Li emphasises the importance of this task, noting, "Our findings will directly impact the strategies we deploy to retain our customers. We need accurate, insightful analysis to inform these strategies."

You're not alone in this; the team is here to guide and support you. This is your opportunity to apply your skills, contributing to a project that could shape the future of customer engagement at Lloyds.

<h3>Techniques for identifying and collecting data:</h3>

<h4>Understanding the data landscape:</h4>

The first step in data collection is to understand the landscape of available data. In a corporate environment, data can come from a variety of sources, including internal databases, customer relationship management (CRM) systems, financial records, web analytics, and external data sets. Knowing where data resides and how it can be accessed is crucial for gathering relevant information efficiently.

<h4>Defining data requirements:</h4>

Clearly define what you need to know before you begin. To predict customer churn, identify key variables such as customer demographics, transaction history, customer service interactions, and usage patterns. This will help focus your efforts on collecting the most relevant and useful data for your analysis.

<h4>Data collection methods:</h4>

Data can be collected through several methods:

 - <b>Primary data collection:</b> This involves gathering data directly from the source. For example, conducting surveys and interviews, or direct observation. While primary data is specific and relevant, it can be time-consuming and costly to obtain.
 - <b>Secondary data collection:</b> Involves using existing data collected for another purpose. This could include historical data, third-party data sets, or data obtained from public sources. Secondary data is often easier and quicker to access but may require more careful consideration to ensure its relevance and accuracy.
 - <b>Automated data collection:</b> Using tools such as web scraping, application programming interfaces (APIs), or data integration platforms to automatically gather data from online sources or databases. This method is efficient for collecting large volumes of data and keeping it up-to-date.

<h4>Evaluating data quality:</h4>

Once data is collected, it's essential to evaluate its quality. Consider the following aspects:

 - <b>Accuracy:</b> Ensure that the data accurately reflects the real-world scenarios you are studying.
 - <b>Completeness:</b> Check for missing values or incomplete records that might skew your analysis.
 - <b>Consistency:</b> Ensure that data is consistent across different sources and time periods.
 - <b>Timeliness:</b> Data should be current and relevant to the time frame of your analysis.

<h4>Data integration and storage:</h4>

After collecting data from various sources, the next step is to integrate it into a cohesive data set. This may involve merging data sets, transforming data formats, or cleaning data to ensure uniformity. Once integrated, store the data securely, ensuring that it is organised and easily accessible for analysis.

By mastering these techniques, you'll be well-prepared to gather and utilise data effectively, setting the stage for a successful data analysis project.

<h3>Methods for performing exploratory data analysis to uncover patterns and insights:</h3>

Exploratory data analysis (EDA) is a crucial stage in the data science process. It allows you to understand the underlying configuration of your data and identify key patterns and relationships. EDA involves using statistical techniques and data visualisation to summarise the main characteristics of the data set.

<h4>Descriptive statistics:</h4>

Begin your EDA by calculating descriptive statistics, which provide a summary of the basic features of your data. Key metrics include:

 - <b>Mean, median, and mode:</b> These measures of central tendency help you understand the typical value in your data set.
 - <b>Standard deviation and variance:</b> These metrics indicate the spread or dispersion of your data, showing how much variation exists from the average.
 - <b>Min, max, and range:</b> These values provide insights into the bounds of your data, highlighting any potential outliers.

<h4>Data visualisation:</h4>

Visualisation is a powerful tool in EDA, helping you to quickly grasp complex data distributions and relationships. Common visualisation techniques include:

 - <b>Histograms and density plots:</b> Useful for understanding the distribution of a single variable, including its central tendency and spread.
 - <b>Box plots:</b> Help identify the spread and outliers in your data by showing the quartiles and median.
 - <b>Scatter plots:</b> Ideal for examining relationships between two continuous variables, helping you identify potential correlations or trends.
 - <b>Bar charts and heatmaps:</b> Useful for categorical data, showing the frequency or proportion of categories and the relationships between categorical variables.

<h4>Correlation analysis:</h4>

To uncover relationships between variables, perform a correlation analysis. This involves calculating correlation coefficients, such as Pearson’s or Spearman’s, which quantify the strength and direction of the relationship between variables. Understanding these correlations can help you identify key predictors of customer churn.

<h4>Data profiling and anomaly detection:</h4>

Data profiling involves examining data for anomalies, missing values, or inconsistencies. This phase is essential for ensuring data quality before proceeding to model building. Look for patterns in missing data, which could indicate underlying data collection issues or important missing information.

<h4>Hypothesis generation:</h4>

Based on the insights gained from descriptive statistics and visualisations, formulate hypotheses about your data. For example, you might hypothesise that high customer service interaction frequency is related to increased churn rates. These hypotheses can guide your subsequent analysis and model-building efforts.

Employing these methods can help you uncover critical insights from your data, guiding your understanding and informing your decision-making process as you prepare for more advanced data analysis stages.

<h3>Best practices for cleaning and preparing data for machine learning models:</h3>

Properly cleaning and preparing data is essential for building reliable and accurate machine learning models. This process ensures that the data used in model training is of high quality, which directly impacts the model's performance.

<h4>Handling missing data:</h4>

Missing data is a typical problem that can significantly affect your model's accuracy. Here are a few strategies to address this problem:

 - <b>Imputation:</b> Replace missing values with a statistical measure such as the mean, median, or mode of the column. For categorical variables, the most frequent category can be used.
 - <b>Deletion:</b> Remove rows or columns with missing values, particularly if the proportion of missing data is small. However, this should be done cautiously to avoid losing valuable information.
 - <b>Flagging:</b> Create a new binary column that flags whether data was missing in the original data set. This can help your model learn if the absence of data is itself informative.

<h4>Outlier detection and treatment:</h4>

Outliers can skew the results of your machine-learning model. Use visualisation techniques like box plots or statistical methods to detect outliers. Once identified, you can:

 - <b>Remove outliers:</b> If they are caused by data entry errors or are not relevant to the analysis.
 - <b>Cap outliers:</b> Set a threshold beyond which data is capped. This technique minimises the influence of extreme values without removing data points entirely.

<h4>Normalisation and standardisation:</h4>

Data normalisation and standardisation are techniques used to ensure that numerical features contribute equally to the model's learning process. These processes involve:

 - <b>Normalisation:</b> Rescaling the values of numeric features to a common scale, typically [0, 1]. This is useful when features have different units or scales.
 - <b>Standardisation:</b> Transforming data to have a mean of zero and a standard deviation of one. This process is particularly useful when the data follows a Gaussian distribution.

<h4>Encoding categorical variables:</h4>

Machine learning models require numerical input, making it necessary to convert categorical data into numerical form. Common methods include:

 - <b>One-hot encoding:</b> Creating binary columns for each category in a categorical feature. This method prevents the model from assuming any ordinal relationship between categories.
 - <b>Label encoding:</b> Converting each category to a numerical value. This method is simpler but should be used with caution as it can imply an ordinal relationship where none exists.

<h4>Feature engineering and selection:</h4>

Creating new features from the existing data (feature engineering) and selecting the most relevant features (feature selection) can significantly improve model performance. Techniques include:

 - <b>Creating interaction features:</b> Combining two or more features to capture interactions.
 - <b>Feature scaling:</b> Adjusting the range of features to ensure they contribute equally to the model.
 - <b>Dimensionality reduction:</b> Using methods such as principal component analysis (PCA) to reduce the number of features, which can improve model performance and reduce overfitting.

By adhering to these best practices, you'll ensure that your data set is clean, well-prepared, and optimised for building effective machine learning models. This foundational work is crucial for achieving accurate and reliable predictions in your project.

<h3>Data gathering and exploratory analysis:</h3>

Now that you've been introduced to the scenario and the importance of this project, it's time to roll up your sleeves and get started. This task will challenge you to apply your data science skills in a real-world context, helping you connect theoretical knowledge and practical application.

<h4>Data collection: start with relevance</h4>

Your first step is to identify and gather relevant data that will provide insights into customer churn. Focus on data that can help you understand customer behaviour, such as demographics, transaction history, and customer service interactions. Remember, the goal is to collect data that is pertinent to the problem at hand. Approach this step with a critical eye, considering how each piece of data might contribute to understanding why customers are leaving.

<h4>EDA: discover patterns and insights</h4>

Once you've collected the data, the next step is to perform EDA. This phase is crucial as it helps you uncover patterns, identify anomalies, and understand the data's structure. Use visual tools such as histograms, scatter plots, and heat maps to explore relationships between variables. Pay close attention to trends that might indicate early signs of churn, such as decreased usage frequency or increased interaction with customer service.

EDA is not just a technical exercise; it's an opportunity to hypothesise the underlying causes of churn. For example, if you notice that customers who engage less with your digital services are more likely to churn, this insight could inform targeted retention strategies. Your analysis should be thorough and well-documented, providing a clear narrative that connects your findings to potential business actions.

<h4>Data cleaning and preparation: ensuring quality</h4>

The quality of your data affects the reliability of your predictive model. In this stage, focus on cleaning and preparing your data set. Handle missing values appropriately, either through imputation or removal, and ensure that all variables are in a consistent format. Normalising or standardising your data may be necessary, especially if the data includes variables with different scales. This step is about precision and care; small errors can lead to significant inaccuracies in your model.

As you work through these activities, keep the broader project goals in mind. Your findings from EDA and your cleaned data set will form the foundation for building a robust predictive model. This model will help SmartBank not only understand current churn rates but also anticipate and mitigate future risks, directly influencing customer retention strategies.

<h4>Why accuracy and thorough understanding matter?</h4>

Your work in this task is not just about completing an assignment; it's about developing a deep, practical understanding of data science in action. Accuracy and thorough understanding are crucial, as the insights you derive will inform strategic decisions at SmartBank. The quality of your analysis could mean the difference between retaining valuable customers and losing them to competitors.

Approach each step with diligence and an analytical mindset. This is your opportunity to make a tangible impact on a real-world problem, honing your skills in the process. Embrace the challenge, knowing that your contributions are vital to the project's success.

<h3>Task instructions:</h3>

<h4>Introduction:</h4>

In this task, you will take the first critical steps toward building a predictive model for customer churn. Your work will involve gathering relevant data, conducting EDA, and preparing the data set for model development. These activities are foundational for ensuring the accuracy and reliability of your subsequent analysis and predictions.

<h4>Instructions:</h4>

<b>Identify and gather data:</b>

 - Review the provided data sources and select those most relevant for predicting customer churn. Focus on key areas such as customer demographics, transaction history, and customer service interactions.
 - Document your selection criteria and rationale for choosing each data set, ensuring that the data will provide meaningful insights into customer behaviour.

<b>Perform EDA:</b>

 - Use statistical techniques and data visualisation tools to explore the data sets. Create visualisations such as histograms, scatter plots, and box plots to understand distributions, trends, and relationships between variables.
 - Identify key features that may influence customer churn, paying special attention to patterns or anomalies that could be significant.

<b>Clean and preprocess the data:</b>

 - Handle missing values by choosing appropriate methods such as imputation, removal, or flagging. Justify your chosen method based on the data and context.
 - Detect and address outliers that could skew the analysis or predictions. Decide whether to cap, transform, or remove outliers based on their nature and potential impact.
 - Standardise or normalise numerical features to ensure consistent scales across variables. This step is crucial for preparing the data for machine learning algorithms.
 - Encode categorical variables using techniques like one-hot encoding to transform them into a numerical form appropriate for analysis.

<b>Deliverable:</b>

 - <b>File submission:</b> Submit a comprehensive report detailing your data gathering, EDA, and data cleaning processes. The report should include:

    - A summary of the data sets selected and the rationale for their inclusion
    - Visualisations and statistical summaries from the EDA
    - A description of the data cleaning and preprocessing steps taken
    - The cleaned and preprocessed data set ready for model building

Ensure that your report is clear, concise, and well-organised, as it will be a key component of the project's success, guiding future analysis and model development.

In [58]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [59]:
# read the dataset
customer = pd.read_excel("Customer_Churn_Data_Large.xlsx", sheet_name="Customer_Demographics")
transaction = pd.read_excel("Customer_Churn_Data_Large.xlsx", sheet_name="Transaction_History")
service = pd.read_excel("Customer_Churn_Data_Large.xlsx", sheet_name="Customer_Service")
activity = pd.read_excel("Customer_Churn_Data_Large.xlsx", sheet_name="Online_Activity")
churn = pd.read_excel("Customer_Churn_Data_Large.xlsx", sheet_name="Churn_Status")



# dimensions of data
print("Customer_Demographics: ", customer.shape)
print("Transaction_History: ", transaction.shape)
print("Customer_Service: ", service.shape)
print("Online_Activity: ", activity.shape)
print("Churn_Status: ", churn.shape)

Customer_Demographics:  (1000, 5)
Transaction_History:  (5054, 5)
Customer_Service:  (1002, 5)
Online_Activity:  (1000, 4)
Churn_Status:  (1000, 2)

In [60]:
# check the records
customer.head()

   CustomerID  Age Gender MaritalStatus IncomeLevel
0           1   62      M        Single         Low
1           2   65      M       Married         Low
2           3   18      M        Single         Low
3           4   21      M       Widowed         Low
4           5   21      M      Divorced      Medium

In [61]:
transaction.head()

   CustomerID  TransactionID TransactionDate  AmountSpent ProductCategory
0           1           7194      2022-03-27       416.50     Electronics
1           2           7250      2022-08-08        54.96        Clothing
2           2           9660      2022-07-25       197.50     Electronics
3           2           2998      2022-01-25       101.31       Furniture
4           2           1228      2022-07-24       397.37        Clothing

In [62]:
service.head()

   CustomerID  InteractionID InteractionDate InteractionType ResolutionStatus
0           1           6363      2022-03-31         Inquiry         Resolved
1           2           3329      2022-03-17         Inquiry         Resolved
2           3           9976      2022-08-24         Inquiry         Resolved
3           4           7354      2022-11-18         Inquiry         Resolved
4           4           5393      2022-07-03         Inquiry       Unresolved

In [63]:
activity.head()

   CustomerID LastLoginDate  LoginFrequency ServiceUsage
0           1    2023-10-21              34   Mobile App
1           2    2023-12-05               5      Website
2           3    2023-11-15               3      Website
3           4    2023-08-25               2      Website
4           5    2023-10-27              41      Website

In [64]:
churn.head()

   CustomerID  ChurnStatus
0           1            0
1           2            1
2           3            0
3           4            0
4           5            0

In [65]:
# check the datatypes present
customer.dtypes

CustomerID        int64
Age               int64
Gender           object
MaritalStatus    object
IncomeLevel      object
dtype: object

In [66]:
transaction.dtypes

CustomerID                  int64
TransactionID               int64
TransactionDate    datetime64[ns]
AmountSpent               float64
ProductCategory            object
dtype: object

In [67]:
service.dtypes

CustomerID                   int64
InteractionID                int64
InteractionDate     datetime64[ns]
InteractionType             object
ResolutionStatus            object
dtype: object

In [68]:
activity.dtypes

CustomerID                 int64
LastLoginDate     datetime64[ns]
LoginFrequency             int64
ServiceUsage              object
dtype: object

In [69]:
churn.dtypes

CustomerID     int64
ChurnStatus    int64
dtype: object

In [70]:
# descriptive statistics
customer.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CustomerID,1000.0,NaN,NaN,NaN,500.5,288.819436,1.0,250.75,500.5,750.25,1000.0
Age,1000.0,NaN,NaN,NaN,43.267,15.242311,18.0,30.0,43.0,56.0,69.0
Gender,1000,2,F,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus,1000,4,Widowed,276,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IncomeLevel,1000,3,High,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
transaction.describe(include='all').T

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10120\2251822836.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  transaction.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
CustomerID,5054.0,NaN,NaN,NaN,NaT,NaT,501.424218,285.17278,1.0,251.0,506.0,749.0,1000.0
TransactionID,5054.0,NaN,NaN,NaN,NaT,NaT,5510.538979,2582.088012,1000.0,3242.0,5530.0,7680.75,9997.0
TransactionDate,5054,365,2022-07-01 00:00:00,25,2022-01-01,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AmountSpent,5054.0,NaN,NaN,NaN,NaT,NaT,250.707351,142.250838,5.18,127.105,250.525,373.4125,499.86
ProductCategory,5054,5,Books,1041,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
service.describe(include='all').T

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10120\671008820.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  service.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
CustomerID,1002.0,NaN,NaN,NaN,NaT,NaT,485.209581,287.030259,1.0,238.25,474.5,735.75,995.0
InteractionID,1002.0,NaN,NaN,NaN,NaT,NaT,5952.887226,2305.819681,2015.0,3991.5,5911.5,7908.25,9997.0
InteractionDate,1002,344,2022-07-07 00:00:00,9,2022-01-01,2022-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
InteractionType,1002,3,Feedback,360,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ResolutionStatus,1002,2,Resolved,523,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
activity.describe(include='all').T

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10120\4173356470.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  activity.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
CustomerID,1000.0,NaN,NaN,NaN,NaT,NaT,500.5,288.819436,1.0,250.75,500.5,750.25,1000.0
LastLoginDate,1000,340,2023-09-20 00:00:00,8,2023-01-01,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LoginFrequency,1000.0,NaN,NaN,NaN,NaT,NaT,25.912,14.055953,1.0,13.75,27.0,38.0,49.0
ServiceUsage,1000,3,Online Banking,349,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
churn.describe(include='all').T

              count     mean         std  min     25%    50%     75%     max
CustomerID   1000.0  500.500  288.819436  1.0  250.75  500.5  750.25  1000.0
ChurnStatus  1000.0    0.204    0.403171  0.0    0.00    0.0    0.00     1.0

In [75]:
# concise information
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     1000 non-null   int64
 1   Age            1000 non-null   int64
 2   Gender         1000 non-null   object
 3   MaritalStatus  1000 non-null   object
 4   IncomeLevel    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [76]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054 entries, 0 to 5053
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       5054 non-null   int64
 1   TransactionID    5054 non-null   int64
 2   TransactionDate  5054 non-null   datetime64[ns]
 3   AmountSpent      5054 non-null   float64
 4   ProductCategory  5054 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 197.5+ KB

In [77]:
service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        1002 non-null   int64
 1   InteractionID     1002 non-null   int64
 2   InteractionDate   1002 non-null   datetime64[ns]
 3   InteractionType   1002 non-null   object
 4   ResolutionStatus  1002 non-null   object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 39.3+ KB

In [78]:
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      1000 non-null   int64
 1   LastLoginDate   1000 non-null   datetime64[ns]
 2   LoginFrequency  1000 non-null   int64
 3   ServiceUsage    1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 31.4+ KB

In [79]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   1000 non-null   int64
 1   ChurnStatus  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

In [80]:
# check for null/missing records
customer.isnull().sum()

CustomerID       0
Age              0
Gender           0
MaritalStatus    0
IncomeLevel      0
dtype: int64

In [81]:
transaction.isnull().sum()

CustomerID         0
TransactionID      0
TransactionDate    0
AmountSpent        0
ProductCategory    0
dtype: int64

In [82]:
service.isnull().sum()

CustomerID          0
InteractionID       0
InteractionDate     0
InteractionType     0
ResolutionStatus    0
dtype: int64

In [83]:
activity.isnull().sum()

CustomerID        0
LastLoginDate     0
LoginFrequency    0
ServiceUsage      0
dtype: int64

In [84]:
churn.isnull().sum()

CustomerID     0
ChurnStatus    0
dtype: int64

In [85]:
# check for duplicate records
customer.duplicated().sum()

0

In [86]:
transaction.duplicated().sum()

0

In [87]:
service.duplicated().sum()

0

In [88]:
activity.duplicated().sum()

0

In [89]:
churn.duplicated().sum()

0

In [90]:
# Now we will merge our datasets together to get a final data
# Step 1: Merge customer with transactions
merged_df = pd.merge(customer, transaction, on='CustomerID', how='outer')

# Step 2: Merge with service interactions
merged_df = pd.merge(merged_df, service, on='CustomerID', how='left')

# Step 3: Merge with activity data
merged_df = pd.merge(merged_df, activity, on='CustomerID', how='left')

# Step 4: Merge with churn status
final_df = pd.merge(merged_df, churn, on='CustomerID', how='left')

# Check the shape of the final merged data
print(final_df.shape)

(6812, 17)

In [91]:
# check for missing records
final_df.isnull().sum()

CustomerID             0
Age                    0
Gender                 0
MaritalStatus          0
IncomeLevel            0
TransactionID          0
TransactionDate        0
AmountSpent            0
ProductCategory        0
InteractionID       1608
InteractionDate     1608
InteractionType     1608
ResolutionStatus    1608
LastLoginDate          0
LoginFrequency         0
ServiceUsage           0
ChurnStatus            0
dtype: int64

In [92]:
# check for duplicate records
final_df.duplicated().sum()

0

In [93]:
final_df.head()

,CustomerID,Age,Gender,MaritalStatus,IncomeLevel,TransactionID,TransactionDate,AmountSpent,ProductCategory,InteractionID,InteractionDate,InteractionType,ResolutionStatus,LastLoginDate,LoginFrequency,ServiceUsage,ChurnStatus
0,1,62,M,Single,Low,7194,2022-03-27,416.50,Electronics,6363.0,2022-03-31,Inquiry,Resolved,2023-10-21,34,Mobile App,0
1,2,65,M,Married,Low,7250,2022-08-08,54.96,Clothing,3329.0,2022-03-17,Inquiry,Resolved,2023-12-05,5,Website,1
2,2,65,M,Married,Low,9660,2022-07-25,197.50,Electronics,3329.0,2022-03-17,Inquiry,Resolved,2023-12-05,5,Website,1
3,2,65,M,Married,Low,2998,2022-01-25,101.31,Furniture,3329.0,2022-03-17,Inquiry,Resolved,2023-12-05,5,Website,1
4,2,65,M,Married,Low,1228,2022-07-24,397.37,Clothing,3329.0,2022-03-17,Inquiry,Resolved,2023-12-05,5,Website,1

### Exploratory Data Analysis (EDA):
We will perform on individual datasets as well the merged data.

#### Customer Data EDA:

In [94]:
# Gender Distribution
customer['Gender'].value_counts()

F    513
M    487
Name: Gender, dtype: int64

In [95]:
# Marital Status
customer['MaritalStatus'].value_counts()

Widowed     276
Married     261
Divorced    248
Single      215
Name: MaritalStatus, dtype: int64

In [96]:
# Income Level
customer['IncomeLevel'].value_counts()

High      349
Medium    326
Low       325
Name: IncomeLevel, dtype: int64

In [ ]:
# Customer Age Histogram

# Customer Gender Distribution

# Customer Marital Status

# Customer Income Level